body {
    font-family: monospace;
    background-color:bisque;
    color:dimgray;
    padding: 30px;
    font-size: 22px;
}

h1, h2, h4, h5, h6 {
    color:indianred
}

h3 {
    color:cornflowerblue
}

#nav,
#container,
#footer {
    margin:10px;
    padding: 20px;
    border: 2px solid black
}

#nav {
    display: flex;
    justify-content: space-between
}

#container {
    display: flex;
    justify-content: space-between
}

.task-input {
    margin: 10px
}